<link rel="import" href="../../cosmoz-page-location.html">
<dom-module id="issue-36-view">
	<template>
		<cosmoz-page-location route-hash="{{ _routeHash }}"></cosmoz-page-location>
		<div>Param value:<span>[[ params.param ]]</span>.</div>

	</template>
	<script type="text/javascript">
		Polymer({
			is: 'issue-36-view',
			properties: {
				params: {
					type: Object,
				},

				_routeHash: {
					type: Object,
					value: () => ({})
				}
			},
			observers: [
				'_paramsChanged(params.*)'
			],
			_paramsChanged(paramsChange) { // eslint-disable-line
				this.set('_routeHash.hashparam', this.params.param);
			}
		});
	</script>
</dom-module>
