<link rel="import" href="../../cosmoz-page-location.html">
<dom-module id="issue-36-view">
	<template>
		<cosmoz-page-location route-hash="{{ _routeHash }}"></cosmoz-page-location>
		<div>Param value:<span>[[ params.param ]]</span>.</div>

	</template>
	<script type="text/javascript">
		/*global Polymer*/
		class Issue36View extends Polymer.Element {
			static get is() {
				return 'issue-36-view';
			}
			static get properties() {
				return {
					params: {
						type: Object,
						// eslint-disable-next-line object-shorthand
						observer: function() {
							this.set('_routeHash.hashparam', this.params.param);
						}
					},
					_routeHash: {
						type: Object,
						value: () => ({})
					}
				};
			}
		}
		customElements.define(Issue36View.is, Issue36View);
	</script>
</dom-module>
