<script type="module" src="../../cosmoz-page-location.js"></script>
<dom-module id="issue-36-view">
	<template>
		<cosmoz-page-location route-hash="{{ _routeHash }}"></cosmoz-page-location>
		<div>Param value:<span>[[ params.param ]]</span>.</div>

	</template>
	<script type="module">
		import { PolymerElement } from '@polymer/polymer/polymer-element';

		class Issue36View extends PolymerElement {
			static get is() {
				return 'issue-36-view';
			}
			static get properties() {
				return {
					params: {
						type: Object,
						// eslint-disable-next-line object-shorthand
						observer: function () {
							this.set('_routeHash.hashparam', this.params.param);
						}
					},
					_routeHash: {
						type: Object,
						value: () => ({})
					}
				};
			}
		}
		customElements.define(Issue36View.is, Issue36View);
	</script>
</dom-module>
