<template id="view1" is="dom-bind">
	<h2>Welcome to the test view 1</h2>
	<div>
	count = <span>{{ count }}</span>.
	</div>
	<ul>
	<template is="dom-repeat" items="{{items}}">
		<li>{{item}}</li>
	</template>
	</ul>

	<button on-click="handleClick">increase count</button>

</template>
<script>
/*global TemplateView */
(function () {
	"use strict";

	Cosmoz.TemplateView['view1'] = {
		listeners: {
			'template-activate': '_onTemplateActivate'
		},

		_onTemplateActivate: function (e) {
			console.log('I\'ve been activated !');
			this.count = 0;
		},

		handleClick: function () {
			this.count += 1;
			var newItems = [],
				i = 0;
			for (i = 0; i < this.count; i += 1) {
				newItems.push(i);
			}
			this.items = newItems;
		}
	};
}());
</script>

